<?php
$has_previewer = Installer_Model_Installer::hasModule("previewer");
$previewer = null;
if ($has_previewer && method_exists(new Previewer_Model_Previewer(), "getInstance")) {
    $previewer = Previewer_Model_Previewer::getInstance();
}

$showPreviewerButton = $has_previewer &&
    $previewer &&
    $previewer->getShowModalButton() == 1 &&
    $this->_canAccess("previewer");

$application = $this->getApplication();
$headerRgba = $application->getBlock("header")->getBackgroundColorRGBA();

?>
<div id="iphone">
    <div class="text-center"
         style="margin-bottom: 10px;"
         role="group">
    <?php if ($showPreviewerButton): ?>
        <button id="previewer"
                class="btn btn-xs color-blue btn-previewer">
            <i class="fa fa-mobile-phone"></i>
            <?php echo __("Preview on your phone"); ?>
        </button>
    <?php endif; ?>
        <button id="reload-overview"
                class="btn btn-xs color-blue">
            <i class="fa fa-refresh"></i>
            <span><?php echo p__("application", "See changes"); ?></span>
        </button>
    </div>
    <div class="iphone_content">

        <iframe id="mobile_overview"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"></iframe>
        <div id="mask-overview"
             class="mask">
            <button id="hide_mask"
                    class="reverse btn color-blue"
                    style="display:none;">
                <i class="fa fa-times"></i>
            </button>
            <div class="loader"></div>
        </div>
        <div id="phone-bar">
            <span class="pull-left"
                  style="font-weight: 500;"><?php echo date("G:i") ?></span>
            <span class="pull-right">
                <i class="fa fa-signal"></i>
                <i class="fa fa-wifi"></i>
                <i class="fa fa-battery-full"></i>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
var maskOverview = $("#mask-overview");
maskOverview.show();

$(document).ready(function() {
    var mobileOverview = $("#mobile_overview");

    var phoneBar = $("#phone-bar");
    var overviewSrc = "<?php echo $this->getApplication()->getUrl("/", [], Core_Model_Language::getCurrentLanguage(), true); ?>?overview=1";


    mobileOverview.attr("src", overviewSrc);
    iframe.iframeIsLoaded = function() {
        maskOverview.hide();
        phoneBar.show();

        /**var overviewReference = $("#mobile_overview").contents();

        overviewReference
        .find("body")
        .removeClass("platform-browser")
        .addClass("platform-ios");

        overviewReference
        .find("ion-side-menu-content")
        .css({borderRadius: "20px", border: "1px solid #d4d4d4", boxShadow: "none"});
        */
        setTimeout(function() {
            if((typeof iframe != "undefined")
                && (typeof iframe.f != "undefined")
                && (typeof iframe.f.setPath == "function")
                && (typeof window.overviewEvents != "undefined")
                && (window.overviewEvents.length > 0)) {

                iframe.contentWindow.setPath(window.overviewEvents[0]);
                window.overviewEvents = [];
            }
        }, 1000);

    };

    var reloadOverview = $("#reload-overview");
    reloadOverview.off("click");
    reloadOverview.on("click", function () {
        phoneBar.hide();
        maskOverview.show();
        mobileOverview.attr("src", overviewSrc);
    });

    $("#overview").affix({
        offset: {
            top: 60,
            bottom: 20
        }
    });

    // Status bar!
    var headerBgColor = "<?php echo $headerRgba ?>".replace(/[^0-9\.,]/gmi, "").split(",");
    phoneBar.css("color", textStyleFromHex(headerBgColor));
});
</script>
