<?php
$application = $this->getApplication();
$headerRgba = $application->getBlock("header")->getBackgroundColorRGBA();

?>
<div id="iphone">
    <div class="text-center"
         style="margin-bottom: 10px;"
         role="group">
        <button id="app-overview"
                class="btn btn-xs color-blue">
            <i class="fa fa-mobile-phone"></i>
            <?php echo p__("application", "App"); ?>
        </button>
        <button id="list-overview"
                class="btn btn-xs color-blue">
            <i class="fa fa-bars"></i>
            <span><?php echo p__("application", "Demo"); ?></span>
        </button>
        <button id="reload-overview"
                class="btn btn-xs color-blue">
            <i class="fa fa-refresh"></i>
            <span><?php echo p__("application", "See changes"); ?></span>
        </button>
    </div>
    <div class="iphone_content">

        <iframe id="mobile_overview"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"></iframe>
        <div id="mask-overview"
             class="mask">
            <button id="hide_mask"
                    class="reverse btn color-blue"
                    style="display:none;">
                <i class="fa fa-times"></i>
            </button>
            <div class="loader"></div>
    </div>
        <div id="phone-bar">
            <span class="pull-left"
                  style="font-weight: 500;"><?php echo date("G:i") ?></span>
            <span class="pull-right">
                <i class="fa fa-signal"></i>
                <i class="fa fa-wifi"></i>
                <i class="fa fa-battery-full"></i>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
var maskOverview = $("#mask-overview");
maskOverview.show();

$(document).ready(function() {
    var mobileOverview = $("#mobile_overview");

    var phoneBar = $("#phone-bar");
    var overviewSrc = "<?php echo $application->getUrl("/", [], Core_Model_Language::getCurrentLanguage(), true); ?>?overview=1";
    var colorsSrc = "<?php echo str_replace("browser/index-prod.html", "overview/index-prod.html?demo", $application->getIonicUrl("application/mobile_customization_colors", [], null, true)); ?>";

    mobileOverview.attr("src", overviewSrc);
    iframe.iframeIsLoaded = function() {
        maskOverview.hide();
        phoneBar.show();
    };

    var appOverview = $("#app-overview");
    appOverview.off("click");
    appOverview.on("click", function () {
        phoneBar.hide();
        maskOverview.show();
        mobileOverview.attr("src", overviewSrc);
        fakeContent = false;
    });

    var listOverview = $("#list-overview");
    listOverview.off("click");
    listOverview.on("click", function () {
        phoneBar.hide();
        maskOverview.show();
        mobileOverview.attr("src", colorsSrc);
        fakeContent = true;
    });

    var reloadOverview = $("#reload-overview");
    reloadOverview.off("click");
    reloadOverview.on("click", function () {
        phoneBar.hide();
        maskOverview.show();
        mobileOverview.attr("src", overviewSrc);
    });
    
    $("#overview").affix({
        offset: {
            top: 60,
            bottom: 20
        }
    });

    // Status bar!
    var headerBgColor = "<?php echo $headerRgba ?>".replace(/[^0-9\.,]/gmi, "").split(",");
    phoneBar.css("color", textStyleFromHex(headerBgColor));
});
</script>