<ion-view class="module-places places places-list l1"
          sb-page-background>
    <ion-nav-title>{{ page_title }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button ng-show="locationIsDisabled()"
                ng-click="requestLocation()"
                class="button button-clear header-item places-secondary-button">
            <i class="icon ion-sb-location-off places-location-action icon-warning-custom"></i>
        </button>
        <button ng-click="nextFormat(true)"
                class="button button-clear header-item places-secondary-button">
            <i class="icon"
               ng-class="currentFormatBtn"></i>
        </button>
        <button ng-click="goToMap()"
                class="button button-clear header-item places-secondary-button">
            <i class="icon ion-sb-map"></i>
        </button>
    </ion-nav-buttons>

    <div class="search-action"
         ng-click="filterModal()">
        <svg version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 44 44"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             enable-background="new 0 0 44 44">
            <g>
                <circle cx="22" cy="22" r="20" class="svg_filter_text"/>
                <circle cx="20" cy="20" r="8.5" class="svg_filter_bg"/>
                <path class="svg_filter_bg" d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm12.7,33.3l-1.4,1.4c-0.4,0.4-1,0.4-1.4,0l-5.4-5.4c-0.2-0.2-0.4-0.2-0.6-0.1-1.7,1.1-3.7,1.7-5.9,1.7-6.1,0-11-4.9-11-11s4.9-11 11-11 11,4.9 11,11c0,2.2-0.6,4.2-1.7,5.9-0.1,0.2-0.1,0.5 0.1,0.6l5.4,5.4c0.3,0.5 0.3,1.1-0.1,1.5z"/>
            </g>
        </svg>
    </div>

    <ion-content>
        <div ng-show="is_loading"
             class="loader">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div>
            <div class="places">
                <div ng-repeat="item in collection"
                     ng-click="showItem(item)"
                     ng-class="currentFormat"
                     class="place">

                    <div ng-if="currentFormat == 'place-33'">
                        <div class="card">
                            <div class="image"
                                 ng-style="{'background-image':'url(' + placeThumbnailSrc(item) + ')'}">
                            </div>

                            <div class="text">
                                <p class="title">{{ item.title ? item.title : item.author }}</p>
                                <p ng-if="item.subtitle"
                                   ng-bind-html="item.subtitle"
                                   class="subtitle"></p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="currentFormat == 'place-50'">
                        <div class="card">
                            <div class="image"
                                 ng-style="{'background-image':'url(' + placeThumbnailSrc(item) + ')'}">
                            </div>

                            <div class="text">
                                <p class="title">{{ item.title ? item.title : item.author }}</p>
                                <p ng-if="item.subtitle"
                                   ng-bind-html="item.subtitle"
                                   class="subtitle"></p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="currentFormat == 'place-100'">
                        <div class="card">
                            <div class="sb-row">
                                <div class="sb-col-20">
                                    <div class="image"
                                         ng-style="{'background-image':'url(' + placeThumbnailSrc(item) + ')'}">
                                    </div>
                                </div>
                                <div class="sb-col-60">
                                    <div class="text">
                                        <p class="title">{{ item.title ? item.title : item.author }}</p>
                                        <p ng-if="item.subtitle"
                                           ng-bind-html="item.subtitle"
                                           class="subtitle"></p>
                                    </div>
                                </div>
                                <div class="sb-col-20 distance-flex">
                                    <span class="distance">
                                        {{ item.distance }}
                                        <br />
                                        <span class="unit">{{ item.distanceUnit }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card"
                 ng-if="!collection.length && !is_loading">
                <div class="item item-custom">
                    {{ "No results!" | translate }}
                </div>
            </div>

            <ion-infinite-scroll ng-if="load_more"
                                 on-infinite="loadPlaces(true)"
                                 immediate-check="false"
                                 distance="10%"
                                 class="spinner-custom">
            </ion-infinite-scroll>
        </div>

    </ion-content>
</ion-view>